@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue'), url('../fonts/HelveticaNeueMedium.woff') format('woff');
}

*,
*:focus {
    outline: none;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #2a2b24;
    line-height: 19px;
}

a {
    color: #2A2B24;
    text-decoration: underline;
}

a:hover {
    color: #E0493F;
}

.owl-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: #FFED00;
    display: block;
    margin: 3px 4px 2px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
    background: #000000;
}

.mburger {
    position: fixed;
    left: 17px;
    top: 28px;
    z-index: 1000;
    width: 30px;
    height: 22px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    color: #000;
    padding: 0;
}

.mburger:hover {
    color: #FFED00;
}

.mburger:focus {
    outline: none;
    outline-offset: 0;
    color: #FFED00;
}

.mburger b {
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 0;
}

.mburger b:nth-of-type(1) {
    bottom: 18px;
}

.mburger b:nth-of-type(3) {
    top: 18px;
}

.mm-wrapper_opening .mburger {
    z-index: 1;
}

*::-webkit-input-placeholder {
    font-style: italic;
    color: #b9b9b9;
}

*::-moz-placeholder {
    font-style: italic;
    color: #b9b9b9;
}

*:-ms-input-placeholder {
    font-style: italic;
    color: #b9b9b9;
}

*:-moz-placeholder {
    font-style: italic;
    color: #b9b9b9;
}

input:not([type=submit]),
textarea {
    height: 39px;
    background: #fff;
    border: 1px solid #ddd;
    width: 100%;
    padding: 5px 20px;
    font-size: 16px;
}

input[type=submit] {
    width: 100%;
    height: 39px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000;
    box-shadow: none;
    background: #ffed00;
    border: none;
}

textarea {
    height: 120px;
    resize: none;
    padding-top: 19px;
}

.form-group {
    margin-bottom: 16px;
}

.btn-submit {
    width: 100%;
    text-align: center;
}

label {
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #acacac;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #b4b4b4;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    top: 5px;
    left: 3px;
    background: #2A2B24;
    transition: all .2s;
    border-radius: 4px;
    display: block;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

header {
    height: 75px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid #FFED00;
}

.top__menu,
.bottom__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.top__menu li,
.bottm__menu li {
    flex: none;
    display: flex;
    align-items: center;
}

.top__menu li a,
.bottom__menu li a {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #707070;
    position: relative;
    text-decoration: none;
    padding: 12px 5px 7px;
}

.top__menu li a::after,
.bottom__menu li a::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 4px;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.6, 1);
    background-color: #FFED00;
    height: 6px;
    width: 0;
}

.top__menu li a:hover::after,
.bottom__menu li a:hover::after {
    width: 100%;
}

.top__phone {
    padding: 13px 0 0 27px;
}

.top__phone .phone a {
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    text-align: left;
    color: #000;
    text-decoration: none;
}

.top__phone .phone img {
    width: 29px;
    height: 29px;
    background: #FFED00;
    border-radius: 50%;
    padding: 5px;
    margin-right: 7px;
}

.site__name {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #707070;
    white-space: nowrap;
}

.top__address {
    padding: 7px 22px 0 0;
}

.top__address p,
.top__address p a {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #707070;
    margin: 0;
    text-decoration: none;
}

.logo__block {
    position: fixed;
    top: 9px;
    right: 3px;
    width: 132px;
    height: 64px;
}

.logo__block img {
    max-width: 100%;
}

.main {
    padding-top: 75px;
    min-height: calc(100vh - 216px - 30px);
    margin-bottom: 30px;
}

.main::after {
    content: '';
    display: block;
    position: fixed;
    top: 75px;
    left: 25%;
    width: 100%;
    height: 100%;
    opacity: .35;
    background-image: url("../image/bg-main.svg");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.bottom__menu li:not(:last-child) {
    margin-right: 20px;
}

.bottom__menu li a {
    font-size: 16px;
}

.bottom__menu li:first-child a {
    padding-left: 0;
}

.footer__bottom p,
.footer__bottom a {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #707070;
    text-decoration: none;
    margin: 0;
}

.footer__bottom a.phone {
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    text-align: left;
    color: #000;
    margin: 10px 0;
    display: inline-block;
}

.footer__bottom {
    padding: 21px 0 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__power {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0 0;
    width: 100%;
}

footer .pay img {
    margin-left: 8px;
}

footer .m2 img {
    margin-left: 11px;
}

.footer__top {
    padding: 28px 0 0;
    border-top: 1px solid #E3E3E3;
}

.menu__left {
    background: #fff;
    overflow: auto;
    max-height: calc(100vh - 75px);
    position: fixed;
    top: 75px;
    left: 0;
    border-right: 1px solid #E2E2E2;
    z-index: 1;
}

#nav .title__block {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #000;
    padding: 13px 5px 11px 40px;
}

#nav {
    background: #fff;
}

#nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav > ul > li {
    border-top: 1px solid #E2E2E2;
    padding: 0 5px 0 40px;
    height: 54px;
}

#nav > ul > li > a {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #000;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#nav > ul > li.action__li {
    background: #E55959;
}

#nav > ul > li.action__li a {
    color: #ffffff;
}

#nav > ul > li.action__li a:hover {
    color: #000;
}

.dropdown__parent > a::after {
    content: '';
    display: inline-flex;
    background: url("../image/menu-arrow.svg") no-repeat center;
    background-size: inherit;
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(50% - 25px / 2);
    right: 4px;
}

#nav > ul > li:hover {
    background: #FFED00;
}

#nav > ul > li.dropdown__parent:hover a::after {
    background: url("../image/menu-arrow-hover.svg") no-repeat center;
}

.dropdown__menu {
    position: fixed;
    top: 75px;
    left: 25%;
    z-index: 1;
    bottom: 0;
    overflow-y: auto;
    list-style: none;
    padding: 43px 5px 0 38px;
    margin: 0;
    background: #fff;
    transition: all .3s;
    width: 24%;
    overflow-x: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    display: none;
}

#nav > ul > li.dropdown__parent .dropdown__menu {
    margin-left: -17px;
}
#nav > ul > li.dropdown__parent:hover .dropdown__menu {
    /*opacity: 1;*/
    /*left: 25%;*/
    /*transition: all .3s;*/
}

#nav .dropdown__menu a {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #707070;
    text-decoration: none;
    height: 54px;
    display: flex;
    align-items: center;
}

#nav .dropdown__menu li {
    padding-right: 20px;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 1px solid #fff;
}

#nav .dropdown__menu li:hover::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 120%;
    right: -5px;
    height: 100%;
    background: #FFED00;
}

.main .container-fluid {
    position: relative;
    z-index: 1;
}

.form-control:focus {
    box-shadow: none;
    border-color: #FFED00;
}

.cart__block {
    width: 135px;
    height: 69px;
    background: #fff;
    border: 1px solid #e2e2e2;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.05);
    position: fixed;
    right: 1px;
    top: 68px;
    z-index: 2;
}

.btn-circle {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #707070;
    padding: 0;
    width: 100%;
}

.btn-circle img {
    width: 29px;
    height: 29px;
    background: #ffed00;
    display: inline-flex;
    border-radius: 50%;
    padding: 5px;
    margin-right: 8px;
    flex: none;
}

.cart__header sup {
    width: 17px;
    height: 17px;
    background: #ffed00;
    font-weight: normal;
    font-size: 9px;
    line-height: 9px;
    text-align: center;
    color: #707070;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -14px;
    right: 5px;
    top: 0;
    right: -2px;
    flex: none;
}

.cart__header {
    height: 100%;
    display: flex;
    padding: 16px 6px 5px 0;
}

.search__block .form-control {
    font-style: italic;
    height: 39px;
    background: #fff;
    border: 1px solid #ddd;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #acacac;
    border-radius: 0;
    padding: 5px 20px;
}

.search__block .form-control:focus {
    border-color: #FFED00;
}

.search__block .input-group-append .btn {
    width: 50px;
    height: 39px;
    background: #ffed00;
    border: 1px solid #ddd;
    border-radius: 0;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

.search__block {
    width: 53%;
    max-width: 524px;
}

.login__block {
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 0 0 18px;
}

.content__header {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.log__block {
    margin-left: 14px;
}

.bg__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider__text {
    text-align: center;
    width: 270px;
    height: 314px;
    background: #6a7290;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.slider__text .title__1 {
    font-weight: normal;
    font-size: 30px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 16px;
}

.slider__text .title__2 {
    font-weight: normal;
    font-size: 21px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 35px;
}

.slider__text .title__3 {
    font-weight: normal;
    font-size: 24px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    margin-bottom: 18px;
}

.slider__text .title__4 {
    font-weight: normal;
    font-size: 21px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 7px;
}

.slider__text .title__3 span {
    font-weight: bold;
    font-size: 33px;
}

.main__item {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.main__item a {
    text-decoration: none;
}

.main__item .slider__img {
    width: calc(100% - 270px);
}

button:focus {
    outline: none;
}


.product__inner {
    background: #fff;
    border: 1px solid #e2e2e2;
    padding: 5px 17px 12px;
    margin-bottom: 28px;
}

.product__inner:hover {
    border: 3px solid #ffed00;
    box-shadow: 0 3px 27px rgba(0, 0, 0, 0.16);
    padding: 3px 15px 10px;
}

.prod__top {
    background: transparent;
    box-shadow: none;
    border: none;
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 -11px 0 auto;
    opacity: 0;
}

.product__inner:hover .prod__top,
.product__inner .prod__top.active {
    opacity: 1;
}

.product__inner .prod__top.active .add__wish {
    opacity: 0;
}

.product__inner:hover .prod__top.active .add__wish {
    opacity: 1;
}

.prod__top .add__wish {
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    text-align: right;
    color: #a7a7a7;
    padding-right: 0;
    display: flex;
    align-items: center;
}

.prod__model{
    font-weight: normal;
    font-size: 10px;
    line-height: 18px;
    color: #a7a7a7;
}

.product__info .prod__model{
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #2a2b24;
    line-height: 19px;
}

.prod__top .img__wish {
    width: 26px;
    height: 26px;
    background: transparent url("../image/star-prod.svg") no-repeat center;
    background-size: auto;
    display: inline-flex;
    margin-left: 5px;
    flex: none;
}

.prod__top.active .add__wish {
    padding-right: 10px;
}

.prod__top:hover .img__wish,
.prod__top.active .img__wish {
    width: 26px;
    height: 26px;
    background: #ffed00 url("../image/star.svg") no-repeat center;
    background-size: auto;
    border-radius: 50%;
}

.prod__img {
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    min-height: 130px;
}

.prod__img img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.prod__name {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #000;
    text-decoration: none;
    margin: 0;
    display: inline-block;
}

.prod__action {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.prod__price {

}

.prod__price .old__price {
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: left;
    color: #a0a0a0;
    text-decoration: line-through;
    min-height: 11px;
}

.prod__price .now__price {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    color: #000;
}

.prod__price .now__price strong {
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
}

.prod__cart {
    width: 58px;
    height: 44px;
    background: #ffed00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -17px 0 auto;
}

.product__item .prod__cart img {
    width: 25px;
}

.title__module {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #000;
    padding: 23px 0 18px;
}

.prod__cart .addCartBtn {
    background: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.grid__actions.row,
.grid__products.row {
    margin-left: -8px;
    margin-right: -8px;
}

.grid__actions.row .col-6,
.grid__actions.row .col-12,
.grid__products.row .col-12 {
    padding-left: 8px;
    padding-right: 8px;
}

.actions__item {
    height: 200px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}

.actions__item:hover {
    border: 3px solid #ffed00;
    box-shadow: 0 3px 27px rgba(0, 0, 0, 0.16);
}

.actions__item:hover .actions__title {
    margin-top: -3px;
    margin-left: -3px;
}

.grid__actions > a:nth-child(2) .actions__item:hover .actions__title {
    margin: auto -3px -3px auto;
}

.grid__actions a {
    text-decoration: none;
}

.actions__title .actions__name {
    font-weight: normal;
    font-size: 24px;
    line-height: 18px;
    text-align: left;
    color: #fff;
    margin-bottom: 8px;
}

.main .actions__title p {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
}

.actions__title {
    background: #6a7290;
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 11px 14px 15px 14px;
    width: 100%;
}

.grid__actions > a:nth-child(1) .actions__title {
    width: auto;
    padding: 11px 34px 15px 14px;
}

.grid__actions > a:nth-child(2) .actions__title {
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 53px;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    text-align: left;
    color: #000;
    margin: 24px 0 20px 0;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    color: #000;
    padding-top: 14px;
    margin-bottom: 20px;
}

.main p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #717171;
}

.main ul {
    margin-bottom: 20px;
    padding-left: 17px;
}

.main ul li {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    color: #717171;
    margin-bottom: 9px;
}

.grid__advantages {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 13px 0 15px;
}

.advantages__item {
    max-width: 232px;
    margin: 0 19px;
}

.advantages__img {
    width: 130px;
    height: 130px;
    background: #ffed00;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 14px;
}

.advantages__img img {
    flex: none;
    max-width: 100%;
}

.advantages__name {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #717171;
}

.title__form {
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    text-align: left;
    color: #000;
    margin-bottom: 17px;
}

.callback__form .form-group span {
    width: 100%;
}

.callback__form {
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid #FFED00;
    padding: 32px 12% 43px;
}

.callback__block {
    padding: 47px 0 35px;
}

.form-check {
    margin-top: 7px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #ACACAC;
    content: ">";
}

.breadcrumb {
    padding: 10px 0;
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 0;
}

.breadcrumb .breadcrumb-item a,
.breadcrumb .breadcrumb-item {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #ACACAC;
    text-decoration: none;
}

.breadcrumb .breadcrumb-item.active {
    color: #000;
}

.subcategorys__block {
    border-top: 1px solid #E3E3E3;
    margin-top: 29px;
}

.subcategorys__block .title__module {
    padding: 12px 0 10px;
}

.subcategorys__grid a {
    margin-right: 20px;
    display: inline-flex;
}

.subcategorys__grid a:last-child {
    margin-right: 0;
}

.select__block .label {
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #acacac;
    white-space: nowrap;
    padding-right: 5px;
}

.products__sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px 0;
}

.products__sort .select__block {
    width: 49%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.select__block .custom-select {
    font-family: "Helvetica Neue", sans-serif;
    height: 39px;
    border: 1px solid #ddd;
    border-radius: 0;
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #717171;
    width: 100%;
    padding: 5px 10px;
    background: #fff url('../image/select-arrow.svg') no-repeat right 10px center;
}

.select__block .custom-select option {
    font-family: "Helvetica Neue", sans-serif;
    position: relative;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #717171;
}

.custom-select:focus:focus {
    box-shadow: none;
}

.pagination,
.main .pagination {
    padding: 10px 0 3px;
}

.page-item .page-link {
    width: 29px;
    height: 29px;
    background: transparent;
    font-weight: normal;
    text-decoration: underline;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #000;
    border-radius: 50%;
    margin: 0 3px;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.page-item.active .page-link,
.page-item:hover .page-link {
    font-weight: bold;
    background: #ffed00;
    color: #000;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 50%;
}

.main p img {
    max-width: 100%;
}

.btn-block .btn-primary {
    width: 200px;
    height: 39px;
    background: #ffed00;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000;
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

hr {
    margin-top: 10px;
    margin-bottom: 0;
    border-top: 1px solid #E3E3E3;
}

.search__actions .select__block {
    width: 100%;
}

.search__actions label {
    font-style: normal;
    color: #717171;
    font-size: 14px;
    line-height: 18px;

}

.form-inline .form-group {
    margin-bottom: 8px;
}

.contact__form .form-check {
    margin-top: 0;
}

.contact__form .fields__box .form-group {
    order: unset !important;
}

table {
    width: 100%;
    max-width: 100%;
}

table td,
table td a {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #000;
    text-decoration: none;
}

table td {
    vertical-align: top;
    padding-bottom: 23px;
}

table td:first-child {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #000;
    padding-right: 28px;
    padding-top: 6px;
    width: 80px;
}

table tr:last-child td {
    padding-bottom: 0;
}

.product__description .nav-pills {
    padding: 0;
    margin: 0 0 15px;
    border-bottom: 1px solid #E3E3E3;
}

.product__description .nav-item .nav-link {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    color: #707070;
    text-decoration: none;
    border-radius: 0;
    padding: 7px 20px;
}

.product__description .nav-item .nav-link.active {
    font-weight: bold;
    color: #000;
    background: transparent;
}

.product__description .nav-item:first-child .nav-link {
    padding-left: 0;
}

.product__actions {
    width: 200px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    border-top: 6px solid #FFED00;
    padding: 23px 13px;
}

.product__quantity .select__block {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.product__quantity .select__block .label {
    padding-right: 20px;
}

.product__quantity .select__block input {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #717171;
    padding: 0 10px 0 20px;
}

.product__quantity .input-group {
    position: relative;
}

/*
.product__quantity .input-group::before {
    content: '';
    background: #fff url('../image/select-arrow.svg') no-repeat center;
    display: block;
    width: 25px;
    height: 18px;
    position: absolute;
    right: 9px;
    top: 2px;
    transform: rotate(180deg);
    pointer-events: none;
    cursor: pointer;
}

.product__quantity .input-group::after {
    content: '';
    background: #fff url('../image/select-arrow.svg') no-repeat center;
    display: block;
    width: 25px;
    height: 18px;
    position: absolute;
    right: 9px;
    bottom: 2px;
    pointer-events: none;
    cursor: pointer;
}
*/
.product__wc {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.product__wc .prod__top {
    opacity: 1;
    width: 26px;
    margin: 0;
}

.product__wc .prod__cart {
    width: 152px;
    margin: 0 -13px 0 0;
    justify-content: flex-start;
    padding: 0 0 0 24px;
}

.product__wc .prod__cart .addCartBtn {
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
}

.delivery__item p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #717171;
}

.delivery__item strong {
    font-weight: bold;
}

.product__quantity {
    margin: 15px 0 20px;
}

.product__wc .prod__cart .addCartBtn img {
    margin-right: 12px;
}

.delivery__info {
    margin: 22px 0 0;
}

.delivery__item {
    margin-bottom: 21px;
}

.product__description {
    padding-top: 30px;
}

.product__info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__gallery {
    width: calc(100% - 200px - 16px);
}

.product__gallery .owl-carousel {
    margin-bottom: 8px;
    border: 1px solid #E2E2E2;
}

.product__gallery .owl-carousel .item {
    height: 375px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
}

.product__gallery .owl-thumbs {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.product__gallery .owl-thumbs button {
    width: calc(100% / 6 - 16px);
    height: 72px;
    border: 1px solid #e2e2e2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #fff;
    margin: 8px;
}

.alert-success {
    margin-top: 20px;
}

.login__block a[type="button"] {
    -webkit-appearance: none;
}

.btn-circle a {
    text-decoration: none;
}

.content__header .btn-circle {
    white-space: nowrap;
    text-decoration: none;
}

.cart__header .btn-circle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btn-circle span {
    color: #707070;
}

#product .alert {
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #e55959;
    border-color: #e55959;
}

.btn-default {
    height: 39px;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    box-shadow: none;
    color: #fff;
    background-color: #e55959;
    border-color: #e55959;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-default:hover {
    background-color: #ffed00;
    border-color: #ffed00;
}

.btn-primary,
input:not([type=submit]).btn-primary {
    color: #000;
    background-color: #ffed00;
    border-color: #ffed00;
    text-decoration: none;
}

.btn {
    font-size: 18px;
}

.table-responsive table tr td,
.table-responsive table tr:last-child td {
    padding: 5px;
}

.table-responsive table td:first-child {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #000;
    padding: 5px;
    width: auto;
}

.btn-danger {
    width: 42px;
    height: 42px;
}

.btn-danger:hover {
    color: #000;
    background-color: #ffed00;
    border-color: #ffed00;
}

.table-responsive .btn-primary + .btn-danger {
    margin: 5px 0;
}

.pag__res {
    padding-bottom: 16px;
}

.radio-inline,
.radio {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-top: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-right: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inline input,
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: auto;
    height: auto;
}

.radio-inline .checkmark,
.radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radio-inline:hover input ~ .checkmark,
.radio:hover input ~ .checkmark {
    background-color: #ccc;
}

.radio-inline input:checked ~ .checkmark,
.radio input:checked ~ .checkmark {
    background-color: #ffed00;
}

.radio-inline .checkmark:after,
.radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radio-inline input:checked ~ .checkmark:after,
.radio input:checked ~ .checkmark:after {
    display: block;
}

.radio-inline .checkmark:after,
.radio .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.table__checkout .btn-block .btn-primary {
    width: 42px;
    height: 42px;
    margin: 0 5px;
}

.table__checkout .input-group {
    align-items: center;
}

.form-horizontal .form-group {
    display: flex;
}

input[type=submit]:hover,
.btn-primary:hover,
input:not([type=submit]).btn-primary:hover {
    background-color: #eada06;
    border-color: #eada06;
    color: #000;
}

.prod__cart:hover {
    background-color: #eada06;
}

#wishlist-total {
    margin-right: 15px;
}

.table__address .btn-danger {
    width: auto;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
    background-color: #ffed00;
}

.checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav > ul > li.dropdown__parent:hover .dropdown__menu {
    /*opacity: 1;*/
    /*width: 380px;*/
    /*padding: 42px 5px 0 40px;*/
    /*margin-left: -17px;*/
}

body .fancybox-image,
body .fancybox-spaceball {
    background: #fff;
}

.oplata__block ul{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.oplata__block ul li{
    text-align: center;
    width: 30%;
    margin-top: 16px;
}
.oplata__block ul li div{
    width: 130px;
    height: 130px;
    background: #ffed00;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.oplata__block ul li p{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #717171;
}
.oplata__block ul li img{
    flex: none;
}
